.movies {
    margin: 0 70px;
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 1024px) {
    .movies {
        margin: 0 30px;
    }
}

@media screen and (max-width: 480px) {
    .movies {
        margin: 0 14px;
    }
}

.movies-switch__container {
    display: flex;
    flex-direction: row;
    margin-top: 32px;
    align-items: center;
    padding-bottom: 48px;
}

@media screen and (max-width: 1024px) {
    .movies-switch__container {
        justify-content: end;
        padding-bottom: 61px;
    }
}

@media screen and (max-width: 480px) {
    .movies-switch__container {
        justify-content: center;
        margin-top: 41px;
        flex-direction: row-reverse;
        padding-bottom: 51px;
    }
}


.movies__switch {
    height: 0;
    width: 0;
    visibility: hidden;
}

.movies__switch:checked+.movies__switch-active {
    background: #2BE080;
}

.movies__switch:checked+.movies__switch-active::after {
    left: calc(100% - 5px);
    transform: translateX(-100%);
}

.movies__switch-active {
    cursor: pointer;
    text-indent: -9999px;
    width: 36px;
    height: 20px;
    background: #C4C4C4;
    display: block;
    border-radius: 100px;
    position: relative;
}

.movies__switch-active::after {
    content: '';
    position: absolute;
    top: 5px;
    left: 5px;
    width: 10px;
    height: 10px;
    background: #FFFFFF;
    border-radius: 90px;
    transition: 0.2s;
}

.movies__switch-active:active::after {
    width: 15px;
}

.movies__switch-lable {
    margin-left: 14px;
    font-size: 13px;
    line-height: 18px;
    font-weight: 400;
}

@media screen and (max-width: 480px) {
    .movies__switch-lable {
        margin-left: 0;
        margin-right: 13px;
    }
}

.movies__moreMovies-btn {
    width: 320px;
    align-self: center;
    margin-top: 50px;
    background-color: #F9F9F9;
    border: none;
    font-size: 12px;
    font-weight: 500;
    height: 36px;
    margin-bottom: 80px;
    cursor: pointer;
}

@media screen and (max-width: 480px) {
    .movies__moreMovies-btn {
        width: 240px;
    }
}