.sign-data {
    max-width: 396px;
    min-width: 260px;
    margin-right: auto;
    margin-left: auto;
}

@media screen and (max-width: 480px) {
    .sign-data {
        margin-right: 30px;
        margin-left: 30px;
        justify-content: center;
        display: flex;
        flex-direction: column;
    }
}

.sign-data__logo {
    width: 38px;
    height: 38px;
    margin-top: 70px;
}

@media screen and (max-width: 480px) {
    .sign-data__logo {
        align-self: center;
    }
}

.sign-data__title {
    font-size: 24px;
    font-weight: 500;
    margin-top: 40px;
}

@media screen and (max-width: 480px) {
    .sign-data__title {
        align-self: center;
    }
}

.sign-data__form {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
}

.sign-data__label {
    color: #A0A0A0;
    font-size: 10px;
    font-weight: 400;
    margin-top: 24px;
}

.sign-data__label:first-of-type {
    margin-top: 0;
}

.sign-data__input {
    font-size: 14px;
    font-weight: 400;
    border: none;
    border-bottom: 1px solid #E8E8E8;
    padding-bottom: 10px;
    margin-top: 5px;
}

.sign-data__input-error {
    color: #FF3055;
    font-size: 10px;
    font-weight: 400;
    margin-top: 6px;
}

.sign-data__submit {
    background-color: #3456F3;
    border: none;
    color: #FFFFFF;
    border-radius: 3px;
    height: 45px;
    font-size: 14px;
    font-weight: 500;
    margin-top: 134px;
    cursor: pointer;
    transition: 0.5s ease;
}

.sign-data__submit:hover {
    opacity: 0.8;
}

.sign-data__text-under-submit {
    color: #A0A0A0;
    font-size: 14px;
    font-weight: 400;
    margin-top: 16px;
    text-align: center;
}

@media screen and (max-width: 480px) {
    .sign-data__text-under-submit {
        font-size: 12px;
        margin-top: 14px;
    }
}

.sign-data__link-under-submit {
    color: #3456F3;
    text-decoration: none;
    font-size: 14px;
    font-weight: 400;
    transition: 0.5s ease;
}

.sign-data__link-under-submit:hover {
    opacity: 0.7;
}

.sign-data__login-submit {
    margin-top: 211px;
}

@media screen and (max-width: 480px) {
    .sign-data__login-submit {
        margin-top: 309px;
    }
}