.popup {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    box-sizing: border-box;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.5s, opacity 0.5s linear;
}

.popup__container {
    max-width: 430px;
    min-width: 282px;
    margin: auto;
    background-color: #FFFFFF;
    border-radius: 10px;
    color: #000000;
    box-sizing: border-box;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.15);
    display: flex;
    flex-direction: column;
    position: relative;
    height: 330px;
}

@media screen and (max-width: 650px) {
    .popup__container {
        max-width: 282px;
}
}

.popup-infoTooltip__container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.popup__close {
    height: 32px;
    width: 32px;
    padding: 0;
    margin: 0;
    border: 0;
    background-image: url(../../images/close-icon.svg);
    background-color: transparent;
    position: absolute;
    right: -40px;
    top: -40px;
    cursor: pointer;
    transition: 0.5s;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    align-self: end;
}

.popup__close:hover {
    opacity: 0.6;
}

@media screen and (max-width: 650px) {
    .popup__close {
        width: 20px;
        height: 20px;
        right: 0;
    }
}

.popup-infoTooltip__image {
    height: 120px;
    width: 120px;
    margin: 0;
    padding: 0;
    margin-top: 60px;
}

.popup__item {
    display: flex;
    flex-direction: column;
    border: none;
    margin: 0;
    padding: 0;
}

.popup__title {
    font-size: 24px;
    font-weight: 900;
    line-height: 29px;
    max-width: 330px;
    margin: 34px 64px 54px 36px;
}

@media screen and (max-width: 650px) {
    .popup__title {
        font-size: 18px;
        line-height: 22px;
        max-width: 238px;
        margin: 25px 22px 75px;
}
}

.popup-infoTooltip__title {
    margin: 32px 36px 60px;
    padding: 0;
    text-align: center;
    font-size: 24px;
    font-weight: 900;
    line-height: 29px;
}

.popup_opened {
    visibility: visible;
    opacity: 1;
}